* text=auto !eol
/AUTHORS -text
Cgl/LICENSE -text
Cgl/README -text
Cgl/cgl_addlibs.txt.in -text
Cgl/configure -text
Cgl/configure.ac -text
Cgl/examples/Makefile.in -text
Cgl/examples/cgl1.cpp -text
Cgl/inc/config_cgl.h.in -text
Cgl/src/CglLandP/CglLandP.cpp -text
Cgl/src/CglLandP/CglLandP.hpp -text
Cgl/src/CglLandP/CglLandPSimplex.cpp -text
Cgl/src/CglLandP/CglLandPSimplex.hpp -text
Cgl/src/CglLandP/CglLandPTest.cpp -text
Cgl/src/CglLandP/CglLandPValidator.cpp -text
Cgl/src/CglLandP/CglLandPValidator.hpp -text
Cgl/src/CglLandP/Makefile.am -text
Cgl/src/CglLandP/Makefile.in -text
Cgl/test/CglTestData/capPlan1.mps -text
Cgl/test/CglTestData/egout.mps -text
Cgl/test/CglTestData/l152lav.mps -text
/LICENSE -text
/README -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf -text
/install-sh -text
/missing -text
