* text=auto !eol
/AUTHORS -text
Cgl/LICENSE -text
Cgl/MSVisualStudio/v10/Cgl.sln -text
Cgl/MSVisualStudio/v10/CglUnitTest/CglUnitTest.vcxproj -text
Cgl/MSVisualStudio/v10/libCgl/libCgl.vcxproj -text
Cgl/MSVisualStudio/v9/Cgl.sln -text
Cgl/MSVisualStudio/v9/CglUnitTest/CglUnitTest.vcproj -text
Cgl/MSVisualStudio/v9/libCgl/libCgl.vcproj -text
Cgl/README -text
Cgl/cgl-uninstalled.pc.in -text
Cgl/cgl.pc.in -text
Cgl/config.guess -text
Cgl/config.sub -text
Cgl/configure -text
Cgl/configure.ac -text
Cgl/depcomp -text
Cgl/doxydoc/doxygen.conf.in -text
Cgl/examples/Makefile.in -text
Cgl/examples/cgl1.cpp -text
Cgl/install-sh -text
Cgl/ltmain.sh -text
Cgl/missing -text
Cgl/src/CglGMI/CglGMI.cpp -text
Cgl/src/CglGMI/CglGMI.hpp -text
Cgl/src/CglGMI/CglGMIParam.cpp -text
Cgl/src/CglGMI/CglGMIParam.hpp -text
Cgl/src/CglGMI/Makefile.am -text
Cgl/src/CglGMI/Makefile.in -text
Cgl/src/CglLandP/CglLandP.cpp -text
Cgl/src/CglLandP/CglLandP.hpp -text
Cgl/src/CglLandP/CglLandPMessages.cpp -text
Cgl/src/CglLandP/CglLandPMessages.hpp -text
Cgl/src/CglLandP/CglLandPSimplex.cpp -text
Cgl/src/CglLandP/CglLandPSimplex.hpp -text
Cgl/src/CglLandP/CglLandPTabRow.cpp -text
Cgl/src/CglLandP/CglLandPTabRow.hpp -text
Cgl/src/CglLandP/CglLandPTest.cpp -text
Cgl/src/CglLandP/CglLandPUtils.cpp -text
Cgl/src/CglLandP/CglLandPUtils.hpp -text
Cgl/src/CglLandP/CglLandPValidator.cpp -text
Cgl/src/CglLandP/CglLandPValidator.hpp -text
Cgl/src/CglLandP/Makefile.am -text
Cgl/src/CglLandP/Makefile.in -text
Cgl/src/CglRedSplit2/CglRedSplit2.cpp -text
Cgl/src/CglRedSplit2/CglRedSplit2.hpp -text
Cgl/src/CglRedSplit2/CglRedSplit2Param.cpp -text
Cgl/src/CglRedSplit2/CglRedSplit2Param.hpp -text
Cgl/src/CglRedSplit2/CglRedSplit2Test.cpp -text
Cgl/src/CglRedSplit2/Makefile.am -text
Cgl/src/CglRedSplit2/Makefile.in -text
Cgl/src/CglZeroHalf/Cgl012cut.cpp -text
Cgl/src/CglZeroHalf/Cgl012cut.hpp -text
Cgl/src/CglZeroHalf/CglZeroHalf.cpp -text
Cgl/src/CglZeroHalf/CglZeroHalf.hpp -text
Cgl/src/CglZeroHalf/CglZeroHalfTest.cpp -text
Cgl/src/CglZeroHalf/Makefile.am -text
Cgl/src/CglZeroHalf/Makefile.in -text
Cgl/src/config.h.in -text
Cgl/src/config_cgl.h.in -text
Cgl/src/config_cgl_default.h -text
Cgl/src/config_default.h -text
Cgl/test/CglTestData/capPlan1.mps -text
Cgl/test/CglTestData/egout.mps -text
Cgl/test/CglTestData/l152lav.mps -text
/Dependencies -text
/LICENSE -text
/README -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf.in -text
/install-sh -text
/missing -text
