################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cgl/MSVisualStudio/v10/libCgl/x64-v100-Debug
/Cgl/MSVisualStudio/v16/libCgl/x64/Debug
*.user

