* text=auto !eol
/LICENSE -text
MSVisualStudio/v10/Cgl.sln -text
MSVisualStudio/v10/CglUnitTest/CglUnitTest.vcxproj -text
MSVisualStudio/v10/libCgl/libCgl.vcxproj -text
MSVisualStudio/v10alt/Cgl.sln -text
MSVisualStudio/v10alt/CglUnitTest.vcxproj -text
MSVisualStudio/v10alt/cgl.props -text
MSVisualStudio/v10alt/cglbase.props -text
MSVisualStudio/v10alt/genDefForCgl.ps1 -text
MSVisualStudio/v10alt/libCglAllDifferent.vcxproj -text
MSVisualStudio/v10alt/libCglBase.vcxproj -text
MSVisualStudio/v10alt/libCglClique.vcxproj -text
MSVisualStudio/v10alt/libCglDuplicateRow.vcxproj -text
MSVisualStudio/v10alt/libCglFlowCover.vcxproj -text
MSVisualStudio/v10alt/libCglGomory.vcxproj -text
MSVisualStudio/v10alt/libCglKnapsackCover.vcxproj -text
MSVisualStudio/v10alt/libCglLandP.vcxproj -text
MSVisualStudio/v10alt/libCglLiftAndProject.vcxproj -text
MSVisualStudio/v10alt/libCglMixedIntegerRounding.vcxproj -text
MSVisualStudio/v10alt/libCglMixedIntegerRounding2.vcxproj -text
MSVisualStudio/v10alt/libCglOddHole.vcxproj -text
MSVisualStudio/v10alt/libCglPreProcess.vcxproj -text
MSVisualStudio/v10alt/libCglProbing.vcxproj -text
MSVisualStudio/v10alt/libCglRedSplit.vcxproj -text
MSVisualStudio/v10alt/libCglResidualCapacity.vcxproj -text
MSVisualStudio/v10alt/libCglSimpleRounding.vcxproj -text
MSVisualStudio/v10alt/libCglTwomir.vcxproj -text
MSVisualStudio/v9/Cgl.sln -text
MSVisualStudio/v9/CglUnitTest/CglUnitTest.vcproj -text
MSVisualStudio/v9/libCgl/libCgl.vcproj -text
MSVisualStudio/v9alt/Cgl.sln -text
MSVisualStudio/v9alt/CglUnitTest.vcproj -text
MSVisualStudio/v9alt/cgl.vsprops -text
MSVisualStudio/v9alt/cglbase.vsprops -text
MSVisualStudio/v9alt/genDefForCgl.ps1 -text
MSVisualStudio/v9alt/libCglAllDifferent.vcproj -text
MSVisualStudio/v9alt/libCglBase.vcproj -text
MSVisualStudio/v9alt/libCglClique.vcproj -text
MSVisualStudio/v9alt/libCglDuplicateRow.vcproj -text
MSVisualStudio/v9alt/libCglFlowCover.vcproj -text
MSVisualStudio/v9alt/libCglGomory.vcproj -text
MSVisualStudio/v9alt/libCglKnapsackCover.vcproj -text
MSVisualStudio/v9alt/libCglLandP.vcproj -text
MSVisualStudio/v9alt/libCglLiftAndProject.vcproj -text
MSVisualStudio/v9alt/libCglMixedIntegerRounding.vcproj -text
MSVisualStudio/v9alt/libCglMixedIntegerRounding2.vcproj -text
MSVisualStudio/v9alt/libCglOddHole.vcproj -text
MSVisualStudio/v9alt/libCglPreProcess.vcproj -text
MSVisualStudio/v9alt/libCglProbing.vcproj -text
MSVisualStudio/v9alt/libCglRedSplit.vcproj -text
MSVisualStudio/v9alt/libCglResidualCapacity.vcproj -text
MSVisualStudio/v9alt/libCglSimpleRounding.vcproj -text
MSVisualStudio/v9alt/libCglTwomir.vcproj -text
/README -text
/WARNING -text
/cgl-uninstalled.pc.in -text
/cgl.pc.in -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf.in -text
examples/Makefile.in -text
examples/cgl1.cpp -text
/install-sh -text
/ltmain.sh -text
/missing -text
src/CglGeneralisedClique.hpp -text
src/CglLandP/CglLandP.cpp -text
src/CglLandP/CglLandP.hpp -text
src/CglLandP/CglLandPMessages.cpp -text
src/CglLandP/CglLandPMessages.hpp -text
src/CglLandP/CglLandPSimplex.cpp -text
src/CglLandP/CglLandPSimplex.hpp -text
src/CglLandP/CglLandPTabRow.cpp -text
src/CglLandP/CglLandPTabRow.hpp -text
src/CglLandP/CglLandPTest.cpp -text
src/CglLandP/CglLandPUtils.cpp -text
src/CglLandP/CglLandPUtils.hpp -text
src/CglLandP/CglLandPValidator.cpp -text
src/CglLandP/CglLandPValidator.hpp -text
src/CglLandP/Makefile.am -text
src/CglLandP/Makefile.in -text
src/CglPhic/CglPhic.hpp -text
src/CglPhic/CglPhicBase.cpp -text
src/CglPhic/CglPhicPropagate.cpp -text
src/CglPhic/Makefile.am -text
src/CglPhic/Makefile.in -text
src/CglPhic/bonsai_phic.c -text
src/CglProbing/CglProbingDebug.cpp -text
src/CglProbing/CglProbingDebug.hpp -text
src/CglProbing/CglProbingProbe.cpp -text
src/CglProbing/CglProbingRowCut.cpp -text
src/CglProbing/CglProbingRowCut.hpp -text
src/CglProbing/CglProbingTighten.cpp -text
src/CglZeroHalf/Cgl012cut.cpp -text
src/CglZeroHalf/Cgl012cut.hpp -text
src/CglZeroHalf/CglZeroHalf.cpp -text
src/CglZeroHalf/CglZeroHalf.hpp -text
src/CglZeroHalf/CglZeroHalfTest.cpp -text
src/CglZeroHalf/Makefile.am -text
src/CglZeroHalf/Makefile.in -text
src/config.h.in -text
src/config_cgl.h.in -text
src/config_cgl_default.h -text
src/config_default.h -text
test/CglTestData/capPlan1.mps -text
test/CglTestData/egout.mps -text
test/CglTestData/l152lav.mps -text
